.filterBtn{
    padding: 10px 25px;
    background: transparent;
    border: 1px solid midnightblue;
    color: midnightblue;
    cursor: pointer;
    border-radius: 10px;
    max-width: 8rem;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s ease-in-out;
}
.filterBtn:hover{
background: #22326432;
}
.filterBtn.active{
    background: #22326432;
}
.addBtn{
    padding: 10px 40px;
    background: whitesmoke;
    color: midnightblue;
    border: 1px solid transparent;
    cursor: pointer;
    max-width: 10rem;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}
.addBtn:hover{
    background-color: midnightblue;
    color: whitesmoke;
}