.badge{
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    width: 2.5rem;
    text-align: center;
    font-size: 24px;
}
.expense{
    background-color: var(--color-pink-100);
    color: var(--color-pink-400);
}
.income{
    background-color: var(--color-blue-300);
    color:var(--color-blue-700);
}
.edit{
    background-color:var(--color-blue-300);
    color:var(--color-blue-700);
}
.delete{
    background-color: var(--color-pink-100);
    color: var(--color-pink-500);
}

.edit, .delete{
    cursor: pointer;
}
.edit:hover, .delete:hover{
    filter: brightness(0.9);
}