.modal {
    background-color: var(--color-blue-50);
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    width: 80%;
    max-width: 30rem;
  }

  .modal::backdrop {
    background-color: #4e578254;
  }