.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formHeader button {
  margin-top: 10px;
  padding: 10px;
  width: 5rem;
  cursor: pointer;
  background: var(--color-gray-blue-50);
  border: 1px solid transparent;
  border-radius: 5px;
}
.formHeader h1 {
  color: var(--color-gray-blue-900);
  font-size: 32px;
  text-transform: capitalize;
}
.form hr {
  height: 3px;
  width: 100%;
}

.expenseLine {
  background: var(--color-pink-400);
}
.incomeLine {
  background: var(--color-blue-400);
}
.inputContainer,
.selectContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputContainer label,
.selectContainer label {
  margin-bottom: 5px;
  color: var(--color-gray-blue-900);
  font-weight: bold;
}
.inputContainer input,
.selectContainer select {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #82a5ad;
  border-radius: 5px;
}
.formActions {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.formActions button {
  border: 1px solid transparent;
  padding-block: 0.75rem;
  flex: 1;
  max-width: 10rem;
  border-radius: 10px;
  cursor: pointer;
}
.formActions button:nth-child(1) {
  background: var(--color-blue-800);
  color: var(--color-blue-50);
}
.formActions button:nth-child(2) {
  color: var(--color-blue-50);
  color: var(--color-blue-800);
}

@media (max-width: 424px) {
  .form {
    padding: 1rem;
  }
  .formHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  .formHeader h1 {
    font-size: 1.3rem;
  }
}
