.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formHeader button {
  margin-top: 10px;
  padding: 10px;
  width: 5rem;
  cursor: pointer;
  background: whitesmoke;
  border: 1px solid transparent;
  border-radius: 5px;
}
.formHeader h1 {
  color: #034c5f;
  font-size: 32px;
  text-transform: capitalize;
}
.form hr {
  height: 3px;
  width: 100%;
}
.expenseHeader {
  background: #ff4564;
}
.incomeHeader {
  background: #97bec6;
}
.inputContainer,
.selectContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputContainer label,
.selectContainer label {
  margin-bottom: 5px;
  color: #023541;
}
.inputContainer input,
.selectContainer select {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #82a5ad;
  border-radius: 5px;
}
.formActions {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.formActions button {
  border: 1px solid transparent;
  padding-block: 0.75rem;
  flex: 1;
  max-width: 10rem;
  border-radius: 10px;
  cursor: pointer;
}
.formActions button:nth-child(1) {
  background: #0f4752;
  color: whitesmoke;
}
.formActions button:nth-child(2) {
  background: whitesmoke;
  color: #0f4752;
}
