.filterContainer{
    display: flex;
    gap: 10px;
}

.balanceContainer{
    display: flex;
    align-items: center;
    margin-block: 4rem;
    justify-content: space-between;
}
.balance{
    display: flex;
    align-items: center;
    gap: 15px;
}
.balance p {
    margin-top: 0.5rem;
    font-size: 20px;
    color: lightslategray;
}

.balance p.redError{
    color: red;
}





@media (max-width:424px) {
    .filterContainer{
        flex-wrap: wrap;
    }
    .balance{
        flex-direction: column;
    }
    .balanceContainer{
        flex-wrap: wrap;
        gap: 20px;
    }
    .balanceContainer button{
    padding-inline: 20px;
    }
}